@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
body{
    background-color:#161717;
    color: white;
}
*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    width: 450px;
}
.botones{
    align-self: flex-start;
    display: flex;
    gap:20px
}
/*Botón de Google*/
.google-btn{
    background-color: #1b73e9;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}
.google-btn:hover{
    opacity: 0.6;
}
.google-btn picture{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.google-btn span{
    color: white;
    font-weight: 500;
    padding: 15px;
}
.google-btn picture img{
    width: 55%;
}
/*Botón de Twitter*/
.twitter-btn{
    border: none;
    border-radius: 2px;
    background-color: #f2f2f1;
    cursor: pointer;
}
.twitter-btn:hover{
    opacity: 0.6;
}
.twitter-btn picture{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.twitter-btn picture img{
    width: 48%
}
/*Separador*/
.separator{
    display: flex;
    width: 100%;
    gap: 15px;
}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc
}
.separator span {
    color: #8b8b8b;
    font-weight: lighter;
}

/*Formulario*/

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-inputs {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.section-inputs label input{
    width: 100%;
}
label{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label span{
    font-weight: 700;
}

label input{
    width: 100%;
    background-color: #212121;
    border:1px solid transparent;
    padding:10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 1s, border 0.5s, box-shadow 0.2s;
}

label input:hover{
    background-color: #454045;
    border: solid 1px #212121;
    box-shadow: 0 0 4px rgb(199, 15, 129);
}
label input:focus{
    background-color: #454045;
    border: solid 1px #212121;
    box-shadow: 0 0 4px rgb(199, 15, 129);
}
.checkbox-label{
    display: flex;
    flex-direction: row;
}
.checkbox-label input[type="checkbox"]{
    width: 20px;
}
.checkbox-label span{
    font-weight: 400;
}

.submit-btn{
    width: 100%;
    background-color: #EA4C89;
    font-size: 13.5pt;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 12px;
    border: none;
    border-radius:10px;
    cursor: pointer;
}
.submit-btn:hover{
    opacity: 0.75;
}


